/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

/* source: https://cssloaders.github.io/ */
.loading-spinner {
  width: 30px;
  height: 30px;
  border: 3px solid #dbdbdb;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.main .loading-spinner {
  position: absolute;
  left: 8px;
  top: -48px;
}

.loading-dots {
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #000 90%, #0000) 0 /
    calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}

@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}

.app-state-error {
  position: absolute;
  font-size: 36px;
  color: #b83f45;
  left: 11px;
  top: -41px;
}

.main .error {
  overflow-wrap: break-word;
  padding: 15px 15px 15px 60px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
  font-weight: 400;
  color: #484848;
  font-size: 24px;
}

.main .error-message {
  font-size: 24px;
}

.main .error-cta {
  font-size: 18px;
  margin-top: 8px;
}

.toast-container {
  font-weight: 400;
}
